body{
margin:0;
font-family:Poppins, sans-serif;
background:#f4f7fb;
}

/* HEADER */

header{
background:linear-gradient(90deg,#3498db,#2ecc71);
padding:18px 30px;
color:white;
}

.header-wrapper{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1200px;
margin:auto;
}

.logo{
font-size:22px;
font-weight:600;
}

/* SEARCH */

.search-bar{
display:flex;
gap:8px;
}

.search-bar input{
padding:9px 12px;
border-radius:6px;
border:none;
width:220px;
}

.search-bar button{
padding:9px 14px;
border:none;
border-radius:6px;
background:#ffffff;
font-weight:600;
cursor:pointer;
}

/* MAP */

#map{
height:70vh;
width:100%;
}

/* WEATHER PANEL */

#weatherPanel{

max-width:420px;
margin:20px auto;

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 6px 18px rgba(0,0,0,0.15);

text-align:center;

}

.hidden{
display:none;
}

/* WEATHER ICON */

.weatherIcon{
font-size:48px;
margin:10px 0;
}
